.color-icon-edit {
    &.yellow {
        svg {
            color: #ffc107 !important;
        }
    }
    &.red {
        svg {
            color: rgb(233, 58, 58) !important;
        }
    }
    &.blue {
        svg {
            color: rgb(7, 63, 246) !important;
        }
    }
    &.green {
        svg {
            color: rgb(9, 180, 49) !important;
        }
    }
    &.black {
        svg {
            color: rgb(29, 29, 29) !important;
        }
    }
}

.pttt-form-input-label {
    width: 80px;
}
.pttt-form-input-label-right {
    width: 120px;
}
.tab-khambenh {
    //tab
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #fff !important;
        font-weight: bold;
    }

    .ant-tabs-tab.ant-tabs-tab-active {
        background-color: #0067ac !important;
        border-radius: 0px !important;
    }
    .ant-tabs-tab {
        color: #0067ac !important;
        border-radius: 0px !important;
        border: 2px solid #0067ac !important;
        padding: 0px 10px !important;
        margin: 0px;
    }
    .ant-tabs-nav {
        margin: 0px !important;
    }
}
