//form
.tiepnhan-timkiem-form {
    border: 2px solid #0067ac;
    padding: 6px;
}

//select
.ant-select-selector {
    margin: 6px 0px !important;
    height: 20px !important;
}
input[type="search"] {
    height: 25px !important;
    border-radius: 0px !important;
}
.input-select .ant-select .ant-select-selector {
    border-radius: 0px !important;
    font-size: 9px;
}
