.scroll-phanquyen-1 {
    overflow-y: scroll;
    height: 100vh;
}
.scroll-phanquyen-1::-webkit-scrollbar {
    display: none;
}
.scroll-phanquyen-1 {
    scrollbar-width: none;
}
.scroll-phanquyen-2 {
    overflow-y: scroll;
    height: 50vh;
}
.scroll-phanquyen-2::-webkit-scrollbar {
    display: none;
}
.scroll-phanquyen-2 {
    scrollbar-width: none;
}
.ant-tree-treenode {
    height: 18px !important;
}

.ant-checkbox-group {
    display: flex;
    flex-direction: column;
}
