
//row
.vienphi-form-row {
    height: 22px !important;
}
.vienphi-form-row-last {
    height: 30px !important;
}
//input
.form-control {
    font-size: 9px !important;
    padding: 2px 4px !important;
    width: 100vw;
    border-radius: 0px !important;
}
//btn
// .vienphi-danhmuc-khaibaodichvukythuat-btn {
//     background-color: #0067ac ;
//     color: #fff;
// }
// .vienphi-danhmuc-khaibaodichvukythuat-add {
//     font-size: 14px;
//     font-weight: bold;
//     padding: 0px;
//     margin: 0px;
//     line-height: 0px;
// }
