.khambenh-ngoaitrukb-form-input-label {
    font-size: 12px;
}
.khambenh-ngoaitrukb-form-input-label-tthc {
    font-size: 12px;
    width: 60px;
}
.khambenh-ngoaitrukb-form-input-label-left {
    font-size: 12px;
    width: 90px;
}
.khambenh-HSBAKP-title {
    background-color: #0067ac;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 13px;
}
