.khambenh-phieukham-right-input-label {
    width: 85px;
}
.khambenh-phieukham-left-input-label {
    width: 88px;
}
.khambenh-phieukham-right-input-label-cannang {
    width: 60px;
}
.border-input {
    border: none !important;
}
.tabphieukham-position {
    position: relative;
}
.phieukham-input-position {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

