button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.ant-dropdown-trigger {
    color: #0067ac;
    border: 1px solid #0067ac;
}

button:hover {
    background-color: #0067ac;
    color: #fff !important;
}

